@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-100: #C30609;
  --color-primary-75: #C3060975;
  --color-primary-50: #C3060950;
  --color-primary-25: #C3060925;

  --color-secondary-100: #FFB200;
  --color-secondary-75: #FFB20075;
  --color-secondary-50: #FFB20050;
  --color-secondary-25: #FFB20025;

  --color-text-100: #FFFFFF;
  --color-text-75: #C5C8C8;
  --color-text-50: #818282;
  --color-text-25: #292C2C25;
}
